@using NetAF.Logic.Modes

<div style="display: flex; align-items: center; @(!showInput && !showCommandPicker ? "display: none;" : "")">
    <span class="span-primary" style="margin-right: 10px;">Input mode: </span>
    <input type="radio" value="@InputMode.Text"checked="@(selectedInputMode.Equals(InputMode.Text))" @onchange="OnChange" />
    <span class="span-primary" style="margin-right: 10px; margin-left: 5px;">@InputMode.Text </span>
    <input type="radio" value="@InputMode.List" checked="@(selectedInputMode.Equals(InputMode.List))" @onchange="OnChange" />
    <span class="span-primary" style="margin-left: 5px;">@InputMode.List</span>
</div>

<div style="@(!showInput ? "display: none;" : "")">
    <br />
    <input type="text" class="input-text" @ref="textInput" @bind="text" @onkeyup="HandleInput" />
</div>

<div style="@(!showCommandPicker ? "display: none;" : "")">
    <br />
    <CommandPickerComponent @ref="commandPickerComponent" />
</div>

<div style="@(!showAcknowledge ? "display: none;" : "")">
    <button class="btn btn-primary btn-acknowledge" @ref="acknowledgeButton" @onclick="Acknowledge">OK</button>
</div>

@code {
    private string text = string.Empty;
    private bool showInput = true;
    private bool showAcknowledge = true;
    private bool showCommandPicker = true;
    private ElementReference acknowledgeButton;
    private ElementReference textInput;
    private HtmlAdapter? htmlAdapter;
    private CommandPickerComponent? commandPickerComponent;
    private InputMode selectedInputMode = InputMode.List;
    private enum InputMode { Text, List };

    private void Acknowledge()
    {
        GameExecutor.Update();
    }

    private void HandleInput(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(text))
        {
            GameExecutor.Update(text);
            text = string.Empty;
        }
    }

    private async void UpdateInputMode()
    {
        showInput = (htmlAdapter?.Game?.Mode?.Type == GameModeType.Interactive) && (selectedInputMode == InputMode.Text);
        showCommandPicker = (htmlAdapter?.Game?.Mode?.Type == GameModeType.Interactive) && (selectedInputMode == InputMode.List);
        showAcknowledge = htmlAdapter?.Game?.Mode?.Type == GameModeType.Information;

        await InvokeAsync(StateHasChanged);
    }

    public async void Update()
    {
        UpdateInputMode();
        commandPickerComponent?.Clear();

        await InvokeAsync(StateHasChanged);

        if (htmlAdapter?.Game?.Mode?.Type == GameModeType.Interactive)
        {
            var commands = htmlAdapter?.Game?.GetContextualCommands()?.ToArray() ?? [];
            commandPickerComponent?.Update(commands);
        }

        if (showInput && textInput.Context != null)
            await textInput.FocusAsync();

        if (showAcknowledge && acknowledgeButton.Context != null)
            await acknowledgeButton.FocusAsync();
    }

    public void SetAdapter(HtmlAdapter adapter)
    {
        htmlAdapter = adapter;
        commandPickerComponent?.SetAdapter(adapter);
    }

    private void OnChange(ChangeEventArgs args)
    {
        if (Enum.TryParse<InputMode>(args?.Value?.ToString() ?? string.Empty, out var mode))
        {
            selectedInputMode = mode;
            UpdateInputMode();
        }
    }
}
